{# This is templates/base.html template #}
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='task_bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cc.css') }}">
    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
  {% include 'task_bar.html' %}
  <div class="page-content">
    {# including the navigation bar from navigation.html #}
    {% include 'navigation.html' %}
    <div class="main">
    {% block content %}

    {% endblock %}
    </div>
  </div>
  </body>
</html>