<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
<div class="task-bar">
<h4>
    {% block headline %}
    {% endblock %}
</h4>
<em>
    {% block uheadline %}
    {% endblock %}
</em>

</div>

<div class="page-content">
     <div class="menu">
        <ul>
            <li><a href="/home/">Index</a></li>
        </ul>
    </div>
    <div class="main">
        {% block main %}
        {% endblock %}
    </div>
</div>
</body>
</html>