{# This is templates/base.html template #}
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% if data.animal == "dogs" %}
    <script src="{{url_for('static', filename='dogs.js')}}"></script>
    {% elif data.animal == 'cats' %}
    <script src="{{url_for('static', filename='cats.js')}}"></script>
    {% endif %}
    <meta charset="UTF-8" />
    <title>{% block title %}Default Title{% endblock %}</title>
  </head>
  <body>
    {# including the navigation bar from nav.html #}
    {% include 'top_navigation.html' %}

    <div class="headline">
      <div>
        <h3>{{data.page_title}}</h3>
        <div><label></label>Number: <input value="number" name="number"/></div>
      </div>
      <em>This is a Singlepage application using Flask, javascript, html and css.</em>
    </div>

    {% block content %}

    {% endblock %}
  </body>
</html>
