body {
    margin: 24px;
}
em {
    color: #857f7f
}
.contaner {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;  
}
.cards > * {
  margin-bottom: 1rem;
}

.cards > :not(:last-child) {
  margin-right: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  max-height: 450px;
  background-color: rgb(235 245 249);
}

img {
  max-width: 400px;
  max-height: 350px;
  height: auto;
}

nav {
  padding: 10px;
}