body {
  background-color: #e2e6eb;
  margin: 0;
}
em {
  color: #857f7f;
}
.headline {
  display: flex;
  flex-direction: column;
  padding: 0 16px 0 16px;
}

.main-container {
  background-color: #e2e6eb;
}

.cards {
  padding-top: 16px;
  /*margin: 16px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards > * {
  margin-bottom: 1rem;
}

.cards > :not(:last-child) {
  margin-right: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  max-height: 450px;
  background-color: rgb(235 245 249);
  box-shadow: rgb(0 0 0 / 24%) 0px 4px 8px;
}

img {
  max-width: 400px;
  max-height: 350px;
  height: auto;
}

navbar {
  display: flex;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  box-shadow: rgb(0 0 0 / 24%) 0px 4px 8px;
}

nav > a {
  font-size: 24px;
  line-height: 45px;
  text-decoration: none;
  padding: 0 16px 0 16px;
}

nav > a:hover {
  background-color: aqua;
}

nav > a.active {
  background-color: #C6E4FF;
}
