body {
  background-color: #e2e6eb;
  margin: 0;
}
em {
  color: #857f7f;
}
.headline {
  display: flex;
  flex-direction: column;
  padding: 0 32px 0 32\px;
}

.main-container {
  background-color: #e2e6eb;
}

.cards {
  padding-top: 16px;
  /*margin: 16px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards > * {
  margin-bottom: 1rem;
}

.cards > :not(:last-child) {
  margin-right: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  max-height: 450px;
  background-color: rgb(235 245 249);
  box-shadow: rgb(0 0 0 / 24%) 0px 4px 8px;
}

img {
  max-width: 400px;
  max-height: 350px;
  object-fit: contain;
  height: auto;
}

navbar {
  display: flex;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  box-shadow: rgb(0 0 0 / 24%) 0px 4px 8px;
}

nav > a {
  font-size: 24px;
  line-height: 45px;
  text-decoration: none;
  padding: 0 16px 0 16px;
}

nav > a:hover {
  background-color: aqua;
}

nav > a.active {
  background-color: #c6e4ff;
}

.title_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

label {
  font-size: 18px;
  font-weight: bold;
}

input,
select {
  margin: 0 12px 0 12px;
  height: 42px;
  min-width: 64px;
  font-size: 18px;
  text-align: center;
}

.button {
  padding: 0 16px 0 16px;
  background-color: #0D6FE8;
  color: #FFFFFF;
  font-weight: 400;
  border: none;
  box-shadow: rgb(0 0 0 / 24%) 0px 4px 8px;
}

.button:hover {
  background-color: #1B3DB6;
}

.button:active  {
  background-color: #063774;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
